
div {
	/* These are technically the same, but use both */
	overflow-wrap: auto;
	word-wrap: auto;

	-ms-word-break: auto;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: auto;
	/* Instead use this non-standard one: */
	word-break: auto;

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}
.clear {clear: both;}
body {
	background-color: #ffffff;
	margin: 0px;
	font-family: 'Fira Sans', sans-serif;
	font-size: 16px;
	color: #000000;
	font-weight: 300;
	position: relative;
}
#current-listings-frame {
	width: 980px;
	margin: 0 auto;
}

.class {

	@media screen and (min-width: $tabwidth) {

	}

	@media screen and (min-width: $deskwidth) {
	
	}
	
}

#page-right-column .infusion-field-input-container {
	height: 21px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	width: 70%;
}
.infusion-field-input-container {
	height: 30px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	width: 85%;
}
.infusion-field textarea {
	-moz-border-radius: 7px;
	border-radius: 7px;
	width: 100%;
}
#advanced-search-link {
	float: right;
	width: 100%;
	text-align: right;
	margin-top: 15px;
}
#page-right-column #advanced-search-link {
	float: right;
	width: 100%;
	text-align: left;
	margin-top: 15px;
}

#idx {
	width: 100%;
	float: left;
}

#idxmap_canvas {
	height: 380px!important;
    margin-top: 18px!important;
}

.idxprop {
	width: 30%;
	float: left;
	margin-right: 3%!important;
	margin-bottom: 15px!important;
	height: 400px!important;
	font-size: 14px!important;
}

.idxprop a {
	background-color: #0099CF;
	color: #ffffff;
	font-weight: normal!important;
	padding: 5px!important;
	    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	margin-bottom: 10px;
	margin-top: 10px;
	display: inline-block;
}

.idxprop a:link { color: #ffffff; text-decoration: none; }
.idxprop a:visited { color: #ffffff; text-decoration: none; }
.idxprop a:hover { color: #ffffff; text-decoration: none; }

.idxphoto2  a {
	background-color: transparent!important;
	color: #ffffff;
}


.idxclear {
	clear: none!important;
}

.idxphoto2 {
    background: #ececec;
    padding: 0px;
    margin-top: 0;
    margin-right: 0px!important;
    margin-bottom: 10px!important;
    margin-left: 0;
    width: 100%!important;
    height: auto!important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    float: left;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

.idxphoto2 img {
	width: 100%!important;
	max-width: 100%!important;
	height: auto!important;
}



input {
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #000000;
}
.infusion-field p {
	margin-bottom: 0px;
	margin-top: 5px;
}
.nivo-lightbox-content {
	width: 50%!important;
}
.nivo-lightbox-wrap {
	position: absolute;
	top: 20%!important;
	bottom: 10%;
	left: 35%!important;
	right: 0%!important;
}
#chat-bar {
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 100%;
	height: 64px;
	z-index: 9999999;
}
#chat-bar-background-wrapper {
	width: 100%;
	height: 64px;
	float: left;
	position: relative;
}
#chat-bar-background {
	width: 100%;
	height: 27px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	background-color: #334EA5;
}
#chat-tab {
	width: 151px;
	height: 36px;
	z-index: 9999999;
	position: absolute;
	top: -36px;
	right: 10%;
}
// .wrapper {
// 	width: 100%;
// 	margin: 0px auto;
// 	padding: 20px;
	
// 	@media screen and (min-width: $tabwidth) {
// 		width: 100%;
// 	}
// 	@media screen and (min-width: $deskwidth) {
// 		width: 1200px;
// 		padding: 0px;
// 	}
// }

// .content-area {
// 	width: 100%;
// 	margin: 0px auto;
	
// 	@media screen and (min-width: $tabwidth) {
// 		width: 66%;
// 		float: left;
// 		margin: 0;
// 	}
// 	@media screen and (min-width: $deskwidth) {
// 		/*width: 1200px;*/
// 	}
// }

// .widget-area {
// 	width: 100%;
// 	margin: 0px auto;
	
// 	@media screen and (min-width: $tabwidth) {
// 		width: 26%;
// 		float: right;
// 		margin: 0;
// 	}
// 	@media screen and (min-width: $deskwidth) {
// 		/*width: 1200px;*/
// 	}
// }

/* Logo */
// .logo , h1.logo {
// 	width: 300px;
// 	height: 200px;
// 	background-image: url(images/logo.png);	
// 	margin: 10px auto;

// 	@media screen and (min-width: $tabwidth) {
// 		width: 300px;
// 		height: 200px;
// 		float: left;
// 		margin: 0;
// 	}
// 	@media screen and (min-width: $deskwidth) {
// 		width: 1200px;
// 	}
// }
// .logo a, h1.logo a {
// 	width: 300px;
// 	height: 200px;
// 	display: block;
// 	text-indent: -9000px;

// 	@media screen and (min-width: $tabwidth) {
// 		width: 300px;
// 		height: 200px;
// 	}
// 	@media screen and (min-width: $deskwidth) {
// 		/*width: 1200px;*/
// 	}
// }
.dfres-subdivision-detail {
	margin-bottom: 20px!important;
}

.idxdisclosure {
	font-size: 12px!important;
	margin-top: 15px!important;
}

.idximgnoborder {
	margin-top: 15px!important;
}

.idximgnoborder img {
	width: 25px!important;
	height: auto!important;
}


.wp-font {
	font-family: inherit!important;
	font-size:  inherit!important;
}

.btn-default {
	background-color: #357ebd!important;
    border-color: #357ebd!important;
	color: #ffffff!important;
	text-decoration: none!important;
}

.btn-default a:link { color: #ffffff!important; text-decoration: none!important; background-color: #428bca!important;}
.btn-default a:visited { color: #ffffff!important; text-decoration: none!important; }
.btn-default a:hover { color: #ffffff!important; text-decoration: none!important; background-color: #334EA5!important;}

.dfres-price-detail {
	color: #0099CF!important;
	    padding-bottom: 9px!important;
}

.dfres-subhead {
	color: #0099CF!important;
}

.acf-map {
	width: 100%;
	height: 330px;
	border: #ccc solid 1px;
	margin: 0px 0;
}
#main-wrapper-all {
	width: 100%;
	float: left;
	height: 100%;
	position: relative;
}
#header-wrapper {
	width: 100%;
	height: 178px;
	float: left;
	background-color: #000000;
}
#main-header {
	width: 85%;
	height: 178px;
	margin-left: auto;
	margin-right: auto;
}
#main2 {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	@media screen and (min-width: $tabwidth) {

	}

	@media screen and (min-width: $deskwidth) {
		width: 1120px;
	}
}
#bottom-link {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	padding: 30px 0 20px 0;
	@media screen and (min-width: $tabwidth) {

	}

	@media screen and (min-width: $deskwidth) {
		width: 980px;
	}
}
#main-wrapper {
	width: 100%;
	float: left;
	background-image: url(images/charlotte-center-city.jpg);
	background-repeat: no-repeat;
	background-size: cover-x;
}
#main {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	@media screen and (min-width: $tabwidth) {

	}

	@media screen and (min-width: $deskwidth) {
		width: 980px;
	}
}

.bw-search #main {
	width: 100%;
	@media screen and (min-width: $tabwidth) {

	}

	@media screen and (min-width: $deskwidth) {
		width:1120px;
	}
}

/* JH */

.dfres-address-detail {
	    line-height: 22px;
		    padding-bottom: 9px;
}

#map-top-right {
    width: 100%;
    height: 102px;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 50px;
    @media screen and (min-width: $tabwidth) {

	}

	@media screen and (min-width: $deskwidth) {
		width: 830px;
	}
}

.bw-search #map-top-left {
    width: 223px;
    height: 102px;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    border-right: 1px solid #131313;
    padding-right: 15px;
}

.bw-search #search-fields {
    width: 290px;
    height: 695px;
    float: left;
    padding-top: 15px;
    color: #373737;
}

.bw-search #google-search-map {
    width: 100%;
    height: 475px;
    float: left;
    margin-right: 45px;
    @media screen and (min-width: $tabwidth) {

	}

	@media screen and (min-width: $deskwidth) {
		width: 655px;
	}
}
#header {
	width: 100%;
	float: left;
}
#logo {
	width: 362px;
	height: 91px;
	float: left;
	padding-top: 12px;
	@media screen and (min-width: $tabwidth) {

	}

	@media screen and (min-width: $deskwidth) {
		
	}
}
#header-content-wrapper {
	width: auto;
	// height: 60px;
	float: right;
	padding-top: 10px;
}
#header-content {
	width: 100%;
	// height: 60px;
	float: right;
	position: relative;
}
#header-content1 {
	width: auto;
	// height: 30px;
	float: left;
	font-size: 13px;
	color: #A4A3A4;
	text-align: right;
	padding-top: 10px;
	padding-right: 25px;
}
#header-content2 {
	width: auto;
	// height: 40px;
	float: left;
	font-size: 26px;
	color: #FFFFFF;
	text-align: right;
}
#social-icons {
	width: 114px;
	// height: 40px;
	float: left;
}
#social1 {
	width: 40px;
	height: 40px;
	float: left;
	margin-right: 10px;
}
#social1 a {
	width: 40px;
	height: 40px;
	background-image: url(images/social1.png);
	background-position: 0 0;
	display: block;
}
#social1 a:hover {
	width: 40px;
	height: 40px;
	background-image: url(images/social1.png);
	background-position: 0 -40px;
	display: block;
}
#social2 {
	width: 40px;
	height: 40px;
	float: left;
	margin-right: 2px;
}
#social2 a {
	width: 40px;
	height: 40px;
	background-image: url(images/social2.png);
	background-position: 0 0;
	display: block;
}
#social2 a:hover {
	width: 40px;
	height: 40px;
	background-image: url(images/social2.png);
	background-position: 0 -40px;
	display: block;
}
#social3 {
	width: 43px;
	height: 42px;
	float: right;
	margin-left: 10px;
}
#social3 a {
	width: 43px;
	height: 42px;
	background-image: url(images/social3.png);
	background-position: 0 0;
	display: block;
}
#social3 a:hover {
	width: 43px;
	height: 42px;
	background-image: url(images/social3.png);
	background-position: 0 -42px;
	display: block;
}
#social4 {
	width: 43px;
	height: 42px;
	float: right;
	margin-left: 10px;
}
#social4 a {
	width: 43px;
	height: 42px;
	background-image: url(images/social4.png);
	background-position: 0 0;
	display: block;
}
#social4 a:hover {
	width: 43px;
	height: 42px;
	background-image: url(images/social4.png);
	background-position: 0 -42px;
	display: block;
}
#facebook-box {
	width: 100%;
	float: left;
	margin: 5px 0px 10px 0px;
}
.facebook1 {
	width: 40px;
	height: 40px;
	float: left;
	margin-right: 10px;
}
.facebook1 a {
	width: 40px;
	height: 40px;
	background-image: url(images/social1.png);
	background-position: 0 0;
	display: block;
}
.facebook1 a:hover {
	width: 40px;
	height: 40px;
	background-image: url(images/social1.png);
	background-position: 0 -40px;
	display: block;
}
.youtube1 {
	width: 40px;
	height: 40px;
	float: left;
	margin-right: 10px;
}
.youtube1 a {
	width: 40px;
	height: 40px;
	background-image: url(images/social2.png);
	background-position: 0 0;
	display: block;
}
.youtube1 a:hover {
	width: 40px;
	height: 40px;
	background-image: url(images/social2.png);
	background-position: 0 -40px;
	display: block;
}
.twitter1 {
	width: 40px;
	height: 40px;
	float: left;
	margin-right: 10px;
}
.twitter1 a {
	width: 40px;
	height: 40px;
	background-image: url(images/social5.png);
	background-position: 0 0;
	display: block;
}
.twitter1 a:hover {
	width: 40px;
	height: 40px;
	background-image: url(images/social5.png);
	background-position: 0 -40px;
	display: block;
}

#home-wrapper {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	@media screen and (min-width: $tabwidth) {

	}

	@media screen and (min-width: $deskwidth) {
		width: 1120px;
	}
}
#home-row1 {
	width: 100%;
	// height: 613px;
	float: left;
	border-bottom: 19px solid #000000;
}
#home-slider {
	width: 100%;
	height: 613px;
	float: left;
	position: relative;
}
#mortgage-calc {
	padding: 5% 8%;
	width: 84%;
}
.calculator {
	border-style: solid;
	border-color: #ffffff;
	border-width: 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
	border: solid;
}
blockquote {
	width: 223px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 40px;
	float: right;
	font-size: 19px;
	color: #118bbf;
	font-weight: bold;
	text-align: center;
	line-height: 20px;
	margin-right: 0px;
	margin-top: 0px;
}
.post-container {
	width: 100%;
	float: left;
	@media screen and (min-width: $tabwidth) {

	}

	@media screen and (min-width: $deskwidth) {
		width: 1207px;
		padding-left: 120px;
		min-height: 400px;
	}
}

#row1 {
	width: 100%;
	float: left;
	@media screen and (min-width: $tabwidth) {

	}

	@media screen and (min-width: $deskwidth) {
		width: 1254px;
		padding-left: 146px;
	}
}
#footer {
	width: 100%;
	// height: 325px;
	float: left;
	text-align: center;
	padding-top: 0px;
	background-color: #000000;
}
#footer a:link {
	color: #ffffff;
	text-decoration: none;
}
#footer a:visited {
	color: #ffffff;
	text-decoration: none;
}
#footer a:hover {
	color: #c0c0c0;
	text-decoration: none;
}
#footer-wrapper {
	width: 100%;
	// height: 305px;
	margin: 0 auto;
	background-image: url(images/bg-footer.png);
	background-repeat: no-repeat;
	background-position: bottom right;
	margin-top: 30px;
	@media screen and (min-width: $tabwidth) {

	}

	@media screen and (min-width: $deskwidth) {
		width: 1130px;
	}
}
#footer-newsletter {
	width: 170px;
	float: left;
	padding-top: 20px;
}
#footer-content2 {
	width: 170px;
	float: right;
	padding-top: 20px;
}
#footer-social {
	width: 100%;
	float: left;
}
#footer-links {
	width: 100%;
	float: left;
	color: #ffffff;
	text-align: right;
	padding-top: 10px;
}
#footer2 {
	width: 100%;
	float: left;
	font-size: 14px;
	font-weight: bold;
	color: #666666;
}
#footer2 a:link {
	color: #666666;
	text-decoration: none;
}
#footer2 a:visited {
	color: #666666;
	text-decoration: none;
}
#footer2 a:hover {
	color: #ffffff;
	text-decoration: none;
}
#footer-row1-box1 {
	width: 100%;
	height: 220px;
	float: left;
	text-align: left;
	color: #ffffff;
	@media screen and (min-width: $tabwidth) {

	}

	@media screen and (min-width: $deskwidth) {
		width: 525px;
	}
}
#footer-row1-box1 h2 {
	color: #279DD7;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5px;
	margin-top: 20px;
}
#page-heading {
	margin-bottom: 15px;
	float: left;
	width: 100%;
}
#page-text {
	margin-bottom: 15px;
	float: left;
	width: 100%;
}
#page-text-left {
	margin-bottom: 15px;
	float: left;
	width: 100%;
	@media screen and (min-width: $tabwidth) {

	}

	@media screen and (min-width: $deskwidth) {
		width: 630px;
	}
}
#page-text-left h2 {
	width: 100%!important;
	float: left!important;
	margin-top: 20px!important;
}
#page-text-left p {
	width: 100%!important;
	float: left!important;
	margin-top: 20px!important;
}
.text {
	width: 100%!important;
	float: left!important;
	margin-top: 20px!important;
}
.offices-phone {
	padding-top: 8px;
	font-size: 12px;	
}

.sidebar-directions {
	font-size: 12px;
	padding-top: 6px;
}

.sidebar-email {
	font-size: 12px;
	padding-top: 8px;	
	line-height: 12px;
}

.sidebar-directions {
		font-size: 12px;
}

#filter-by {
	width: 100%;
	float: left;
	margin-bottom: 20px;
}
#filter-by-categories {
	width: 100%;
	float: left;
	font-size: 13px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
#filter-by-categories a {
	background-color: #0099CF;
	padding: 6px 13px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
#filter-by-categories a:link {
	color: #FFFFFF;
	text-decoration: none;
}
#filter-by-categories a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
#filter-by-categories a:hover {
	color: #FFFFFF;
	text-decoration: none;
	background-color: #3551A3;
}
#filter-by-categories ul {
	padding: 0px;
	float: left;
	margin: 0px;
}
#filter-by-categories li {
	float: left;
	list-style: none;
	margin: 0px 8px 18px 0px;
}
.faqrow {
	width: auto;
	overflow: hidden;
}
.question {
	width: auto;
	float: left;
	font-size: 13px;
	text-transform: uppercase;
	margin-bottom: 8px;
	margin-right: 8px;
	cursor: pointer;
	line-height: 1.3;
	position: relative;
	background-color: #0099CF;
	padding: 6px 13px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	color: #ffffff;
	list-style-type: none;
}
.question a:link {
	color: #ffffff;
	text-decoration: none;
}
.question a:visited {
	color: #ffffff;
	text-decoration: none;
}
.question a:hover {
	color: #ffffff;
	text-decoration: none;
}
.question-image {
	width: 15px;
	height: 15px;
	position: absolute;
	left: 0px;
	top: 3px;
	background-image: url(images/faq.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.question-image.close {
	background-position: -15px 0;
}
.answer-box {
	width: 100%;
}
.answer {
	width: 100%;
	float: left;
	display: none;
}
.alignleft, .post img.alignleft {
	display: inline;
	float: left;
	margin-right: 20px;
	margin-top: 4px;
}
.alignright, .post img.alignright {
	display: inline;
	float: right;
	clear: right;
	margin-left: 20px;
	margin-top: 4px;
}
.aligncenter, .post img.aligncenter {
	text-align: center;
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.post img.alignleft, .post img.alignright, .post img.aligncenter {
	margin-bottom: 20px;
}
.post ul {
	margin-bottom: 10px;
}
ol.commentlist {
	list-style: none;
	margin: 0;
	padding: 0;
}
ol.commentlist li {
	border: 1px solid #d5d5d5;
	margin: 0 0 10px;
	padding: 5px 7px 5px 64px;
	position: relative;
	list-style-type: none;
}
ol.commentlist li.pingback comment-author {
	padding: 0 170px 0 0;
	background-color: #F6FFED;
}
ol.commentlist li div.vcard {
	font-size: .8em;
	line-height: 1.5em;
}
ol.commentlist li div.vcard cite.fn {
	font-weight: bold;
	font-size: 1.3em;
}
ol.commentlist li div.vcard cite.fn a.url {
	color: #cc0000;
	text-decoration: none;
}
ol.commentlist li div.vcard cite.fn a.url:hover {
	color: #000;
}
ol.commentlist li div.vcard img.avatar {
	background: #fff;
	border: 1px solid #aaa;
	padding: 5px;
	left: 7px;
	position: absolute;
	top: 7px;
	margin-left: -60px;
}
ol.commentlist li div.comment-meta {
	position: absolute;
	right: 5px;
	text-align: right;
	top: 0px;
	font-size: .7em;
	color: #333333;
}
ol.commentlist li div.comment-meta a {
	color: #666666;
	text-decoration: none;
}
ol.commentlist li p {
	margin-top: 20px;
	margin-right: 0;
	margin-bottom: 12px;
	margin-left: 0;
}
ol.commentlist li ul {
	list-style: square;
	margin: 0 0 12px;
	padding: 0;
}
ol.commentlist li div.reply {
	border: 1px solid #999999;
	color: #333333;
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
	font-family: helvetica, arial, sans-serif;
	font-size: .8em;
	font-weight: bold;
	background-color: #CCCCCC;
	width: 50px;
}
ol.commentlist li div.reply:hover {
	background: #cc0000;
	border: 1px solid #cc0000;
	color: #FFFFFF;
}
ol.commentlist li div.reply a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}
ol.commentlist li ul.children {
	list-style: none;
	margin: 12px 0 0;
	text-indent: 0;
}
ol.commentlist li ul.children li.depth-2 {
	margin: 0 0 3px;
}
ol.commentlist li ul.children li.depth-3 {
	margin: 0 0 3px;
}
ol.commentlist li ul.children li.depth-4 {
	margin: 0 0 3px;
}
ol.commentlist li ul.children li.depth-5 {
	margin: 0 0 3px;
}
ol.commentlist ul.children li.odd { /*background:#fff;*/
}
ol.commentlist ul.children li.even {/* background:#f6f6f6;*/
}
ol.commentlist li.pingback div.vcard {
	padding: 0 170px 0 0;
}
ol.pings li {
	border: 1px solid #d5d5d5;
	margin: 0 0 10px;
	padding: 5px 7px 5px 64px;
	position: relative;
	list-style-type: none;
	line-height: 1.3em;
}
ol.pings {
	width: auto;
	font-size: .7em;
}
ol.pings h3 {
	font-size: .9em;
}